
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 200px;
  left: 0;
  top: 0;
  height: 500px;
  width: 100%;
  background-color: rgb(192,192,192,0.3);
  overflow-y: auto;
}
.modal-content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  background-color: #74A8DC;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 60%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
*{
  margin: 0;
}
.body{
  box-sizing: border-box;
}
.background-cre-cago{
  background-color: #C0C0C0;
  padding: 50px 250px;
}
.container-cre-cago{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 8px;
  padding: 80px 150px;
}

.text-container-cre-cago{
  overflow: hidden;
  margin-top: 30px;
}
.text-input-cre-cago{
  font-family: inherit;
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  width: 90%;
  margin-left: 20px;
  padding: 17px 20px;
  box-sizing: border-box;
}
.choice-container-cre-cago{
  padding: 17px 20px 0px 17px;
}
.gender-container-cre-cago{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
.title-choice-cre-cago{
  margin-bottom: 10px;
}
.size-container-cre-cago{
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
.text-title-cre-cago{
  padding: 17px 20px 20px 17px;
}
.note-input-cre-cago{
  font-family: inherit;
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  width: 100%;
  padding: 17px 20px;
  box-sizing: border-box;
}
.button-add-option{
  text-align: center;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  border: none;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: black;
}
.button-add-option:hover{
  color:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.buttons-container-cre-cago{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addbutton-cre-cago {
  width: 35%;
  float: left;
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
}
.addbutton-cre-cago:hover {background-color: #3e8e41}
.addbutton-cre-cago:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
.refreshbutton-cre-cago {
  width: 35%;
  float: right;
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3380CB;
  border: none;
}
.refreshbutton-cre-cago:hover {background-color: #225486}
.refreshbutton-cre-cago:active {
  background-color: #225486;
  transform: translateY(4px);
}
input[type=checkbox] {
  visibility: hidden;
}
.container-choice-crecago{
  display: flex;
  flex-direction: row;
}
.checkbox-crecago {
  width: 25px;
  height: 25px;
  background: #ddd;

  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.checkbox-crecago label {

  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  background: #ddd;

  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.checkbox-crecago input[type=checkbox]:checked+label {
  background: #333;
}

.name-choice-crecago{
  padding: 5px;
}
