
/* ===========MENU LEFT=========== */
.pr-menu-left {
    width: 250px;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    float: left;
    margin-right: 10px;
    padding-bottom: 20px;
}
.profiles {
    color: #fff;
    padding: 10px 5px 5px;
    background: #e6e6e6;
    height: 50px;
}
p {
    margin-top: 0;
}
.pr-avatar{
	position: relative;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;
}
.pr-avatar:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.pr-avatar:hover .avatar{
    opacity: 0.5;
}
.avatar {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}

.pr-name {
    font-size: 15px;
    margin-bottom: 5px;
    color: #303030;
    margin-top: 5px;
    font-weight: 300;
    float: left;
} 
h6 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #303030;
    padding: 5px 0;
    border-radius: 5%; 
    float: left;
}
.pr-sub-menu {
    list-style: none;
    display: block;
    border: none;
    width: 100%;
    position: relative;
    margin: 0;
    z-index: 1;
    min-width: 160px;
    padding: 5px 0;
}

.pr-sub-menu li a{
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #303030;
    padding: 15px 20px 15px 60px;
    position: relative;
    display: block;
    text-decoration: none;
}

.pr-sub-menu li a i {
    font-size: 18px;
    height: 30px;
    text-align: center;
    width: 40px;
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 0;
    margin: auto;
    line-height: 30px;
    color: #303030;
}
.pr-sub-menu .active a {
    background: #c9c9c9;
}

.pr-sub-menu a:hover {
    background: #ddd;
}
