.profile-wrap {
    min-height: 500%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background: #e6e6e6;
}

.profile-wrap .pr-container {
    max-width: 1270px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
/* ===========MENU LEFT=========== */
.profile-wrap .pr-menu-left {
    width: 250px;
    padding-right: 0;
    padding-left: 0;
    float: left;
    margin-right: 10px;
    padding-bottom: 20px;
}
.profile-wrap .profiles {
    background: 0 0;
    color: #fff;
    padding: 10px 5px 5px;
    background: #e6e6e6;
}
.profile-wrap p {
    margin-top: 10px!important;
}
/* avatar style and change avatar  */
.pr-avatar{
	position: relative;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;
}
.pr-avatar:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.pr-avatar:hover .avatar{
    opacity: 0.5;
}
.avatar {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}

.profile-wrap .pr-name {
    font-size: 15px;
    margin-bottom: 5px;
    color: #303030;
    margin-top: 5px;
    font-weight: 300;
    float: left;
} 
.upload-button {
    position: absolute;
    top: 0; 
    left: 0;
}
.upload-button .fa-arrow-circle-up{
    position: absolute;
    font-size: 46px;
    top: 25px;
    left: 129px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #ddd;
}
.upload-button:hover .fa-arrow-circle-up{
    opacity: .9;
}
.file-upload {display: none;}
/* account name  */
.profile-wrap h6 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #303030;
    padding: 5px 0;
    border-radius: 5%; 
    float: left;
}
/* sub menu style  */
.profile-wrap .pr-sub-menu {
    list-style: none;
    display: block;
    border: none;
    width: 100%;
    position: relative;
    margin: 45px 0 0 0;
    z-index: 1;
    min-width: 160px;
    padding: 5px 0;
}

.profile-wrap .pr-sub-menu li a{
    white-space: nowrap;
    font-family: Segoe UI;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #303030;
    padding: 10px 20px 10px 60px;
    position: relative;
    display: block;
    text-decoration: none;
}

.profile-wrap .pr-sub-menu li a i {
    font-size: 18px;
    height: 30px;
    text-align: center;
    width: 40px;
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 0;
    margin: auto;
    line-height: 30px;
    color: #303030;
}
.profile-wrap .pr-sub-menu .active a {
    background: #c9c9c9;
}

.profile-wrap .pr-sub-menu a:hover {
    background: #ddd;
}

/* ================CONTENT-RIGHT =================*/
/* input form style  */
.profile-wrap .pr-content-right {
    width: 975px;
    float: left;
    margin-left: 5px;
    position: relative;
}

.profile-wrap h1 {
    margin: 20px 0 15px 0;
    font-size: 20px;
    font-weight: 400;
    color: #303030;
}

.profile-wrap .account-profile {
    display: block;
    margin-bottom: 20px;
    width: 100%!important;
    padding: 30px 20px 20px!important;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.profile-wrap .account-profile fieldset {
    border: none;
}
.profile-wrap .account-profile form {
    width: 60%;
}

.profile-wrap .account-profile .form-group {
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}
.profile-wrap .form-group label {
    width: 100%;
    cursor: text;
}

.profile-wrap .form-group .control-label {
    float: left;
    width: 20%;
    font-size: 15px;
    margin: 6px 12px;
}

.profile-wrap .form-group .input-wrap {
    float: left;
    width: 405px;
}
.profile-wrap .account-profile .input-text {
    margin: 6px 12px;
}
.profile-wrap .account-profile .input-text span {
    color: #303030;
    font-size: 15px;
    font-weight: default;
}
.profile-wrap .form-group .form-control {
    border-radius: 3px;
    width: 100%;
    height: 20px;
    border: 1px solid #ddd;
    color: #303030;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    cursor: text;
}
.profile-wrap .form-group .form-control-hidden {
    display: none;
}
/* select gender style */
.profile-wrap .col-xs-4 {
    width: 33.3333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.profile-wrap .row {
    overflow: hidden;
    position: relative;
}
.profile-wrap .col-xs-4 input[type="radio"] {
    width: 20px;
    height: 20px;
    color: #0F71DD;
}

.profile-wrap .selected {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}
/* date picker style */
.profile-wrap .form-group .birthday-picker select {
    display: inline-block;
    height: 32px;
    width: 30%;
}

.profile-wrap .form-group .birthday-picker .birth-month {
    margin: 0 3%;
}
/* change password link */
.profile-wrap .form-group .change-pw {
    margin-left: 20%;
    width: 405px;
    color: #737373;
    font-size: 13px;
}
.profile-wrap .form-group .change-pw:hover {
    color: #0F71DD;
}
/* error message style */
.error {
    color: red;
    font-size: 15px;
    line-height: 25px;
}
/* button style */
.btn {
    display: inline-block;
    line-height: 40px;
    padding: 0 25px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.4s ease;
    border-radius: 3px;
}
.btn-save, .btn-edit {
    background: #0F71DD;
    border: none;
    color: #fff;
}
.btn-save, .btn-cancel {
    display: none;
}
.btn-cancel {
    color: #303030;
    background: none;
    float: right;
    text-decoration: underline;
    font-size: 13px;
}

.btn-save:hover, .btn-edit:hover {
    background: rgb(2, 124, 255);
    transition: all 0.4s ease;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}
.btn-cancel:hover {
    color: #0F71DD;
    transition: all 0.4s ease;

}
.btn-center {
    text-align: center;
}
